/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */
/* layout */

body {
    display: grid;
    padding-top: 20px;
    grid-row-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

    header {
        text-align: center;
    }
    
        #logo {
            width: 200px;
        }

    nav {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px 0;

        display: flex;
        justify-content: space-around;
    }

    section {
        display: grid;
        grid-row-gap: 20px;
    }

        section img {
            max-width: 100%;
        }

        section .text {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

    footer {
        padding: 5px 0;
        text-align: center;
    }

/* colors */
body {
    background-color: #FAF4E7; 
    color: #40382E;
}

a {
    color: #40382E;
    text-decoration: underline #EC9F35;
}

a:hover, a:active {
    color: #EC9F35;
}

    nav a {
        color: #40382E;
        text-decoration: none;
    }

    nav a:hover, a:active {
        color: #40382E;
        text-decoration: underline #EC9F35;
    }

    footer {
        background-color: #40382E;
        color: #FAF4E7;
    }

    footer a, footer a:hover {
        color: #FAF4E7;
        text-decoration: none;
    }

/* fonts */

body {
    font-family: "Noto Serif", serif;
    letter-spacing: .05em;
    line-height: 1.5;
    font-size: small;
}

h1 {
    font-size: medium;
    font-weight: bold;
    padding-bottom: 10px;
}

    footer {
        font-family: sans-serif;
    }
        
        #footer-links {
            font-size: x-small; 
        }

        #copyright {
            font-size: xx-small;
            justify-self: center;
        }
